

/* barre menu */
body{
	background-color: red;
}
#site-navigation{
	width:100%;
	top:0px;
}
#login-box{
	display:none;
}
/* Bouton login-inscription et logout */
#btnconnec{
	display:none;
}

#btnins{
	display:none;
}
/* --------*/
/* input email newsletter */
.widget-area INPUT[type='text']{
	width:80%;
	margin-left:20px;
}
/* --------*/
/* actualités positionnement */
.srp-thumbnail-box{
	float:left;
}
.srp-content-box{
	margin:30px;
	display:inline-block;
	width:50%
}
/* --------*/
/* item page a gauche */
#primary{
	padding-bottom:350px;
	padding-top:80px;
}
/* --------*/
/* item page droite */
#secondary{
	position: absolute;
	right:0;
	top:276px;
	width:23%;
}
/* --------*/

.menu-menu-principal-container{
	display:inline-block;
	position:absolute;
	top:0px;
	width:100%;
	}
	
#menu-menu-principal{
	margin-left:100px;
}
	
.site-branding{
	padding-bottom:15px;
}

/* Drapeaux langues */
.div_drapeaux{
	position:absolute;
	top:0px;
}
/* footer */
#footer{
	clear: both;
	bottom:0;
	left:0;
	width:100%;
	padding-top:55px;
	padding-bottom:55px;
	background-color:#333;
	border-top: 2px solid white;
}

.entry-content{
	margin:5%;
}

#loginbox {
  position: fixed;
  z-index: 2000;
  top:5vw;
  right:0;
  /*padding-top: 100px;*/
  background-color:white;
  opacity: 0.9;
  border-radius: 5px;
  margin:0;
  -moz-box-shadow: 2px 2px 5px 0px #656565;
  -webkit-box-shadow: 2px 2px 5px 0px #656565;
  -o-box-shadow: 2px 2px 5px 0px #656565;
  box-shadow: 2px 2px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

}
#croix_login {
  padding:10px;
  position: absolute;
  top:0;
  right:0;
  cursor:pointer;
}
#masthead{
	top:0px;
}